version: "3.8"

services:
    db:
        image: postgres:18-alpine
        container_name: task_manager_db
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            POSTGRES_DB: taskmanager
        ports:
            - "5432:5432" # Пробрасываем порт наружу, чтобы Go мог подключиться
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
